#search_input{
    margin: 1.2rem;
}

/*--- Variables y Defaults ---*/

:root{
    --fondo-oscuro: #101010;
    --componentes: #171717;
    --letras-destacadas: #CA1D28;
    --gradiante-letras-dest: #E73E43;
    --titulillos: #E73E43;
    --gradiante-rojo-negro: linear-gradient(99deg, rgba(202,29,40,1) 17%, rgba(23,23,23,1) 77%); 
    --gradiante-rojo: linear-gradient(319deg, rgba(202,29,40,1) 12%, rgba(231,62,67,1) 95%);
    --blanco: #fff;

}

html {
    height: 100vh;
    background: rgb(0,0,0);
    background: var(--fondo-oscuro);
    overflow-x: hidden;
}
body {
    height: 100%;
    background: var(--fondo-oscuro);
    font-family: 'Montserrat', sans-serif !important;
}

/* body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    backdrop-filter: blur(5px);
} */



/*--------- Zona del Header ---------*/

h1{
    color: var(--letras-destacadas);
    font-size: 1rem;
    font-weight: 700;
}
h2{
    color: var(--blanco);
    font-size: 1.8rem;
}
.type-rayita {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
    color: var(--blanco);
}

/*--------- Barra de navegacion ---------*/
.navbar a{
    color: var(--letras-destacadas);
    font-weight: 700;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

header{
    height: 90vh;
    width: auto;
    background: url('../img/portada-img.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    margin-top: 0;
    margin-inline: 4rem;
}

.perfil img{
    width: 100%;
}

.typeo {
    position: relative;
    z-index: 3;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding:2rem;
    height: 10rem;
}
.botoncito{
    background: none;
    border-radius: 2.2rem;
    padding: .8rem 2rem;
    border-color: var(--letras-destacadas);
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--blanco);
    font-weight: 500;
}
.headersina{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding-inline: 2rem;
}
#map{
    height: 500px;
    width: 100%;
}


/*--------- Animacion aparicion ---------*/
.revelado{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.revelado.active{
    transform: translateY(0px);
    opacity: 1;
}


/*--------- Primera zona: Skills ---------*/
.skillset {
    margin-top: 2rem;
}
.skillset .container{
    height: 60vh;
}
.logosSkills{
    position: relative;
}
.skillset .logos{
    width: 3.2rem;
    animation: upDown 2.5s ease infinite;
    margin: 1rem;
}
.skillset .row{
    justify-content: space-between;
    align-items: center;
}
.skillset img:nth-child(1){
    position: absolute;
    left: -3rem;
    top: 8rem;
}
.skillset img:nth-child(2){
    position: absolute;
    left: -1rem;
    top: 2rem;
}
.skillset img:nth-child(3){
    position: absolute;
    left: 3.6rem;
    top: 4rem;
}
.skillset img:nth-child(4){
    position: absolute;
    left: 7rem;
    top: 0rem;
}
.skillset img:nth-child(6){
    position: absolute;
    right: 1rem;
    top: 2rem;
}
.skillset img:nth-child(7){
    position: absolute;
    right: 6.5rem;
    top: 3.3rem;
}
.skillset img:nth-child(8){
    position: absolute;
    right: -2rem;
    top: 8rem;
}
@keyframes upDown {
    50%{
        transform: translateY(5px);
        scale: 1.07;
    }
    100%{
        transform: translateY(0px);
    }
}
.programador {
    width: 20rem !important;
    margin-top: 8rem;
}


/*--------- Segunda Zona: sobre mi ---------*/
.aboutMe{
    height: 400px;
}
.aboutMe .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutMe .row{
    align-items: center;
    justify-content: center;
}
.circ1{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    display: flex;
    background-color: var(--gradiante-letras-dest);
    position: absolute;
    margin-left: 8rem;
}
.circ2{
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    display: flex;
    background-color: var(--gradiante-letras-dest);
    position: absolute;
    right: 8rem;
    margin-top: 13rem;
}
.aboutMe .container .texto{
    position: relative;
    z-index: 3;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(50px);
    border-radius: 15px;
    padding: 2rem 3rem;
    transition: 2s;
    width: 70vw;
}
.aboutMe .titulo{
    color: var(--titulillos);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.titulo h3{
    font-size: 2rem;
}
.texto p{
    color: var(--blanco);
}


/*--------- Tercera Zona: Trabajos ---------*/
.proyects{
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    height: 20rem;
}
.proyects .container{
    height: 100%;
}
.proyects .row{
    align-items: center;
    justify-content: center;
    height: 100%;
}
.proyects .row div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.proyects h3{
    color: var(--letras-destacadas);
}
.mockups{
    position: relative;
    perspective: 5000px;
    width: 100%;
    height: 100%;
}
.mockups div{
    transform: rotateY(-18deg) rotateX(15deg);
    transform-origin: left bottom;
    transition: transform .5s ease-in-out;
    opacity: .70;
}
.mockups div:hover{
    transform: rotateY(0deg) rotateX(0deg);
    transform-origin: left bottom;
    opacity: 1;
}
.mockups:hover div:hover {
    filter: brightness(150%) saturate(120%);
}
.mockups:hover div.mockup1 {
    transition-delay: 0s;
}
.mockups:hover div.mockup2 {
    transition-delay: 0.1s;
    transform: translate(3rem, 0px);
}
.mockups:hover div.mockup3 {
    transition-delay: 0.2s;
    transform: translate(-3rem, -2rem);
}
.mockup1{
    position: absolute;
    z-index: 1;
    width: 41.175rem;
    height: 27rem;
    background: url('../img/AnimeFlix.jpeg'), var(--letras-destacadas);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--gradiante-letras-dest) 2px 2px 10px;
    backdrop-filter: blur(3rem);
    border-radius: 16px;
    margin-top: 15rem;
}
.mockup2{
    position: absolute;
    z-index: 2;
    width: 20rem;
    height: 10rem;
    right: 3rem;
    top: 22rem;
    background: url('../img/landingPage.jpeg'), var(--letras-destacadas);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--gradiante-letras-dest) 2px 2px 10px;
    backdrop-filter: blur(3rem);
    border-radius: 16px;
}
.mockup3{
    position: absolute;
    width: 20rem;
    height: 10rem;
    left: 6rem;
    top: 0rem;
    z-index: 1;
    background: url('../img/Clima.jpeg'), var(--letras-destacadas);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--gradiante-letras-dest) 2px 2px 10px;
    backdrop-filter: blur(5rem);
    border-radius: 16px;
}
.botonClima{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: transparent;;
}

/*--------- Adaptacion a tablets ---------*/

@media (max-width: 768px) {
    :root{
        font-size: 10px;
    }
    .mockup1{
        position: absolute;
        width: 28.8225rem;
        height: 18.9rem;
        
    }
    .mockup2{
        position: absolute;
        width: 14rem;
        height: 8rem;
        left: 21rem;
        top: 18rem;
    }
    .mockup3{
        position: absolute;
        width: 14rem;
        height: 8rem;
    }
    .circ1{
        margin-left: 0;
    }
    .circ2{
        right: 0;
    }
}